<div class="d-flex flex-column">
  <!-- Begin Page Content -->
  <div class="row justify-content-center">
    <div class="col-xl-9 col-lg-9 col-md-10 col-sm-12 col-12">
      <div class="card shadow mt-5">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">
            Add a new request
          </h6>
        </div>
        <div class="card-body">
          <div class="text-center">
            <form [formGroup]="newRequestForm" (submit)="onSubmit()">
              <div class="form-group">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter your full name"
                  formControlName="name"
                />
              </div>
              <div class="form-group">
                <label>Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Enter email"
                  formControlName="email"
                />
              </div>
              <div class="form-group">
                <label>Details</label>
                <textarea
                  class="form-control"
                  placeholder="Input details"
                  formControlName="details"
                ></textarea>
              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <select
                    class="custom-select"
                    (change)="onAreaSelected($event.target.value)"
                  >
                    <option [value]="null" disabled>Select An Area</option>
                    <option *ngFor="let area of areas" [value]="area.id"
                      >{{ area.name }}
                    </option>
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <select
                    class="custom-select"
                    (change)="onTopicSelected($event.target.value)"
                  >
                    <option [value]="null" disabled>Select A Topic</option>
                    <option *ngFor="let topic of topics" [value]="topic.id">{{
                      topic.name
                    }}</option>
                  </select>
                </div>
                <div class="col-md-4 mb-3">
                  <select
                    class="custom-select"
                    formControlName="typeId"
                    (change)="onTypeSelected($event.target.value)"
                  >
                    <option [value]="null" disabled>Select A Type</option>
                    <option *ngFor="let type of types" [value]="type.id">{{
                      type.name
                    }}</option>
                  </select>
                </div>
              </div>
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="this.newRequestForm.invalid"
              >
                Submit
              </button>
              <div *ngFor="let af of additionalFields">
                <div class="form-group">
                  {{ af.name }} = {{ af.fieldType }}
                  <input
                    type="{{ getAdditionalFieldInputType(af.fieldType) }}"
                    class="form-control"
                    formControlName="{{ af.name }}"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
