<div class="d-flex flex-column">
  <app-error [message]="errorMsg"></app-error>
  <app-success [message]="successMsg"></app-success>
  <div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12 col-12">
      <div class="card shadow mt-5">
        <div class="card-header py-3">
          <div class="row">
            <h6
              class="m-0 font-weight-bold text-primary col-xl-10 col-lg-10 col-md-10 col-sm-10"
            >
              Agrega un administrador
            </h6>
            <button
              type="submit"
              class="btn btn-primary float-right col-xl-2 col-lg-2 col-md-2 col-sm-2"
              (click)="adminForm.ngSubmit.emit()"
              [disabled]="adminForm.invalid"
            >
              Enviar
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="text-center">
            <form #adminForm="ngForm" (ngSubmit)="onFormSubmit()">
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-md-3 mb-0 pb-0">Name</label>
                <input
                  type="text"
                  class="form-control col-xl-9 col-lg-9 col-md-9"
                  placeholder="Enter your full name"
                  required
                  [(ngModel)]="admin.name"
                  name="name"
                  minlength="3"
                  maxlength="50"
                />
              </div>
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-md-3 mb-0 pb-0"
                  >Phone number</label
                >
                <input
                  type="text"
                  class="form-control col-xl-9 col-lg-9 col-md-9"
                  placeholder="Enter your phone number"
                  required
                  [(ngModel)]="admin.phoneNumber"
                  name="phone"
                />
              </div>
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-md-3 mb-0 pb-0 text-start"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control col-xl-9 col-lg-9 col-md-9"
                  placeholder="Enter email"
                  [(ngModel)]="admin.email"
                  required
                  email
                  name="email"
                />
              </div>
              <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-md-3 mb-0 pb-0">
                  Contraseña</label
                >
                <input
                  type="password"
                  class="form-control col-xl-9 col-lg-9 col-md-9"
                  required
                  [(ngModel)]="admin.password"
                  name="pass"
                  pass="ngModel"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
