USE [master]
GO
/****** Object:  Database [IMMRequest]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE DATABASE [IMMRequest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IMMRequest', FILENAME = N'/var/opt/mssql/data/IMMRequest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IMMRequest_log', FILENAME = N'/var/opt/mssql/data/IMMRequest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IMMRequest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IMMRequest]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdditionalField]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdditionalField](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FieldType] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[TypeId] [int] NOT NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AdditionalField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Areas]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BooleanItem]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BooleanItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [bit] NOT NULL,
	[BooleanFieldId] [int] NOT NULL,
 CONSTRAINT [PK_BooleanItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DateRangeItems]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DateRangeItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [datetime2](7) NOT NULL,
	[DateFieldId] [int] NOT NULL,
 CONSTRAINT [PK_DateRangeItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[IntegerRangeItems]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntegerRangeItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
	[IntegerFieldId] [int] NOT NULL,
 CONSTRAINT [PK_IntegerRangeItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RequestField]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestField](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[requestId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](max) NOT NULL DEFAULT (N''),
	[Values] [nvarchar](max) NULL,
	[DateRequestField_Values] [nvarchar](max) NULL,
	[IntRequestField_Values] [nvarchar](max) NULL,
	[TextRequestField_Values] [nvarchar](max) NULL,
 CONSTRAINT [PK_RequestField] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Requests]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CitizenId] [int] NULL,
	[TypeId] [int] NULL,
	[Details] [nvarchar](2000) NULL,
	[CreationDateTime] [datetime2](7) NOT NULL DEFAULT ('0001-01-01T00:00:00.0000000'),
 CONSTRAINT [PK_Requests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[State]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[RequestId] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TextRangeItems]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TextRangeItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[TextFieldId] [int] NOT NULL,
 CONSTRAINT [PK_TextRangeItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Topics]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AreaId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Types]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TopicId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL DEFAULT (CONVERT([bit],(0))),
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 25-Jun-20 13:19:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[Token] [uniqueidentifier] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200425152543_hola', N'3.1.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200425162209_masmigraciones', N'3.1.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200425165033_stateperrequest', N'3.1.3')
SET IDENTITY_INSERT [dbo].[AdditionalField] ON 

INSERT [dbo].[AdditionalField] ([Id], [Name], [FieldType], [IsRequired], [TypeId], [Discriminator]) VALUES (1, N'Matricula', 1, 0, 1, N'TextField')
INSERT [dbo].[AdditionalField] ([Id], [Name], [FieldType], [IsRequired], [TypeId], [Discriminator]) VALUES (2, N'Fecha y hora', 2, 0, 1, N'DateField')
INSERT [dbo].[AdditionalField] ([Id], [Name], [FieldType], [IsRequired], [TypeId], [Discriminator]) VALUES (3, N'Nro de Movil', 0, 1, 1, N'IntegerField')
SET IDENTITY_INSERT [dbo].[AdditionalField] OFF
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([Id], [Name]) VALUES (1, N'Transporte')
INSERT [dbo].[Areas] ([Id], [Name]) VALUES (2, N'Espacios publicos y calles')
INSERT [dbo].[Areas] ([Id], [Name]) VALUES (3, N'Limpieza')
SET IDENTITY_INSERT [dbo].[Areas] OFF
SET IDENTITY_INSERT [dbo].[DateRangeItems] ON 

INSERT [dbo].[DateRangeItems] ([Id], [Value], [DateFieldId]) VALUES (1, CAST(N'2010-06-24 00:00:00.0000000' AS DateTime2), 2)
INSERT [dbo].[DateRangeItems] ([Id], [Value], [DateFieldId]) VALUES (2, CAST(N'2030-06-24 00:00:00.0000000' AS DateTime2), 2)
SET IDENTITY_INSERT [dbo].[DateRangeItems] OFF
SET IDENTITY_INSERT [dbo].[IntegerRangeItems] ON 

INSERT [dbo].[IntegerRangeItems] ([Id], [Value], [IntegerFieldId]) VALUES (1, 0, 3)
INSERT [dbo].[IntegerRangeItems] ([Id], [Value], [IntegerFieldId]) VALUES (2, 99999999, 3)
INSERT [dbo].[IntegerRangeItems] ([Id], [Value], [IntegerFieldId]) VALUES (3, 0, 4)
SET IDENTITY_INSERT [dbo].[IntegerRangeItems] OFF
SET IDENTITY_INSERT [dbo].[RequestField] ON 

INSERT [dbo].[RequestField] ([Id], [requestId], [Name], [Discriminator], [Values], [DateRequestField_Values], [IntRequestField_Values], [TextRequestField_Values]) VALUES (1, 1, N'Nro de Movil', N'IntRequestField', NULL, NULL, N'43241', NULL)
INSERT [dbo].[RequestField] ([Id], [requestId], [Name], [Discriminator], [Values], [DateRequestField_Values], [IntRequestField_Values], [TextRequestField_Values]) VALUES (2, 4, N'Calle principal', N'TextRequestField', NULL, NULL, NULL, N'calle principal')
INSERT [dbo].[RequestField] ([Id], [requestId], [Name], [Discriminator], [Values], [DateRequestField_Values], [IntRequestField_Values], [TextRequestField_Values]) VALUES (3, 4, N'Esquina 1', N'TextRequestField', NULL, NULL, NULL, N'esquina de la principal')
SET IDENTITY_INSERT [dbo].[RequestField] OFF
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([Id], [CitizenId], [TypeId], [Details], [CreationDateTime]) VALUES (1, 6, 1, N'Algunos detalles de prueba', CAST(N'2020-06-24 23:05:30.3204502' AS DateTime2))
INSERT [dbo].[Requests] ([Id], [CitizenId], [TypeId], [Details], [CreationDateTime]) VALUES (2, 6, 3, N'Detalles de prueba', CAST(N'2020-06-24 23:07:09.9629888' AS DateTime2))
INSERT [dbo].[Requests] ([Id], [CitizenId], [TypeId], [Details], [CreationDateTime]) VALUES (3, 6, 4, N'detalles de prueba', CAST(N'2020-06-24 23:07:41.8994418' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Requests] OFF
SET IDENTITY_INSERT [dbo].[State] ON 

INSERT [dbo].[State] ([Id], [Description], [Discriminator], [RequestId]) VALUES (8, N'Done', N'DoneState', 1)
INSERT [dbo].[State] ([Id], [Description], [Discriminator], [RequestId]) VALUES (10, N'Accepted', N'AcceptedState', 2)
INSERT [dbo].[State] ([Id], [Description], [Discriminator], [RequestId]) VALUES (12, N'Accepted', N'AcceptedState', 3)
SET IDENTITY_INSERT [dbo].[State] OFF
SET IDENTITY_INSERT [dbo].[Topics] ON 

INSERT [dbo].[Topics] ([Id], [AreaId], [Name]) VALUES (1, 1, N'Acoso Sexual')
INSERT [dbo].[Topics] ([Id], [AreaId], [Name]) VALUES (2, 1, N'Contenedores')
SET IDENTITY_INSERT [dbo].[Topics] OFF
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([Id], [TopicId], [Name], [IsActive]) VALUES (1, 1, N'Taxi - Acoso', 1)
INSERT [dbo].[Types] ([Id], [TopicId], [Name], [IsActive]) VALUES (2, 1, N'Parada mal señalizada', 1)
INSERT [dbo].[Types] ([Id], [TopicId], [Name], [IsActive]) VALUES (3, 2, N'Contenedor roto', 1)
SET IDENTITY_INSERT [dbo].[Types] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Email], [PhoneNumber], [Discriminator], [Password], [Token]) VALUES (1, N'Admin Foo', N'admin@foo.com', NULL, N'Admin', N'pass', N'b446d459-ad4c-429c-8ff1-fbe41a38cd4f')
INSERT [dbo].[User] ([Id], [Name], [Email], [PhoneNumber], [Discriminator], [Password], [Token]) VALUES (2, N'Pablo Escobar', N'pescobar@foo.com', NULL, N'Admin', N'pass', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[User] ([Id], [Name], [Email], [PhoneNumber], [Discriminator], [Password], [Token]) VALUES (3, N'Alana', N'ala@gmail.com', N'708-555-673', N'Citizen', NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Index [IX_AdditionalField_TypeId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_AdditionalField_TypeId] ON [dbo].[AdditionalField]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BooleanItem_BooleanFieldId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_BooleanItem_BooleanFieldId] ON [dbo].[BooleanItem]
(
	[BooleanFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DateRangeItems_DateFieldId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_DateRangeItems_DateFieldId] ON [dbo].[DateRangeItems]
(
	[DateFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IntegerRangeItems_IntegerFieldId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_IntegerRangeItems_IntegerFieldId] ON [dbo].[IntegerRangeItems]
(
	[IntegerFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RequestField_requestId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_RequestField_requestId] ON [dbo].[RequestField]
(
	[requestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_CitizenId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_CitizenId] ON [dbo].[Requests]
(
	[CitizenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_TypeId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_TypeId] ON [dbo].[Requests]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_State_RequestId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_State_RequestId] ON [dbo].[State]
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TextRangeItems_TextFieldId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_TextRangeItems_TextFieldId] ON [dbo].[TextRangeItems]
(
	[TextFieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Topics_AreaId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_Topics_AreaId] ON [dbo].[Topics]
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Types_TopicId]    Script Date: 25-Jun-20 13:19:40 ******/
CREATE NONCLUSTERED INDEX [IX_Types_TopicId] ON [dbo].[Types]
(
	[TopicId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdditionalField]  WITH CHECK ADD  CONSTRAINT [FK_AdditionalField_Types_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Types] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AdditionalField] CHECK CONSTRAINT [FK_AdditionalField_Types_TypeId]
GO
ALTER TABLE [dbo].[BooleanItem]  WITH CHECK ADD  CONSTRAINT [FK_BooleanItem_AdditionalField_BooleanFieldId] FOREIGN KEY([BooleanFieldId])
REFERENCES [dbo].[AdditionalField] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BooleanItem] CHECK CONSTRAINT [FK_BooleanItem_AdditionalField_BooleanFieldId]
GO
ALTER TABLE [dbo].[DateRangeItems]  WITH CHECK ADD  CONSTRAINT [FK_DateRangeItems_AdditionalField_DateFieldId] FOREIGN KEY([DateFieldId])
REFERENCES [dbo].[AdditionalField] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DateRangeItems] CHECK CONSTRAINT [FK_DateRangeItems_AdditionalField_DateFieldId]
GO
ALTER TABLE [dbo].[IntegerRangeItems]  WITH CHECK ADD  CONSTRAINT [FK_IntegerRangeItems_AdditionalField_IntegerFieldId] FOREIGN KEY([IntegerFieldId])
REFERENCES [dbo].[AdditionalField] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IntegerRangeItems] CHECK CONSTRAINT [FK_IntegerRangeItems_AdditionalField_IntegerFieldId]
GO
ALTER TABLE [dbo].[RequestField]  WITH CHECK ADD  CONSTRAINT [FK_RequestField_Requests_requestId] FOREIGN KEY([requestId])
REFERENCES [dbo].[Requests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestField] CHECK CONSTRAINT [FK_RequestField_Requests_requestId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Types_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[Types] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Types_TypeId]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_User_CitizenId] FOREIGN KEY([CitizenId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_User_CitizenId]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Requests_RequestId] FOREIGN KEY([RequestId])
REFERENCES [dbo].[Requests] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Requests_RequestId]
GO
ALTER TABLE [dbo].[TextRangeItems]  WITH CHECK ADD  CONSTRAINT [FK_TextRangeItems_AdditionalField_TextFieldId] FOREIGN KEY([TextFieldId])
REFERENCES [dbo].[AdditionalField] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TextRangeItems] CHECK CONSTRAINT [FK_TextRangeItems_AdditionalField_TextFieldId]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_Areas_AreaId] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_Areas_AreaId]
GO
ALTER TABLE [dbo].[Types]  WITH CHECK ADD  CONSTRAINT [FK_Types_Topics_TopicId] FOREIGN KEY([TopicId])
REFERENCES [dbo].[Topics] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Types] CHECK CONSTRAINT [FK_Types_Topics_TopicId]
GO
USE [master]
GO
