<!-- Sidebar -->
<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    [routerLink]="['dashboard']"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">
      IMM <br />
      Request
    </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <!-- Nav Item - Dashboard -->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/dashboard']">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['/new-request']"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Nueva solicitud</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['/new-type']"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Nuevo tipo</span>
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['/allrequest']"
      data-target="#collapseTwo"
      aria-expanded="true"
      aria-controls="collapseTwo"
    >
      <i class="fas fa-fw fa-cog"></i>
      <span>Todas las solicitudes</span>
    </a>
  </li>
  <!-- Nav Item - Utilities Collapse Menu -->
  <li class="nav-item">
    <a
      class="nav-link collapsed"
      [routerLink]="['#import']"
      data-toggle="collapseTwo"
      aria-expanded="true"
      aria-controls="collapseUtilities"
    >
      <i class="fas fa-fw fa-wrench"></i>
      <span>Importar</span>
    </a>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Reports-->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/report-a']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Reportes A </span></a
    >
  </li>

  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/report-b']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Reportes B </span></a
    >
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider" />

  <!-- Nav Item - Login -->
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/login']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Login</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block" />

  <!--Imports-->
  <li class="nav-item" routerLinkActive="active">
    <a class="nav-link" [routerLink]="['/import']">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Import from file</span></a
    >
  </li>
</ul>
<!-- End of Sidebar -->
